# Compiled python files
*.pyc

# Django stuff:
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal

# PyCharm files
.idea/
*.iml
*.iws
*.ipr

# Visual Studio Code
.vscode/

.python-version

*.sql